<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassLibrary.Properties.Settings.ToolingManDBConnectionString"
            connectionString="Data Source=wangsong-pc;Initial Catalog=ToolingManDB;Persist Security Info=True;User ID=sa;Password=wangosng"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>