<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ToolingManDBConnectionString"
            connectionString="Data Source=.;Initial Catalog=ToolingManDB;Persist Security Info=True;User ID=sa;Password=wangsong"
            providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>