<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<system.serviceModel>
    <services>
        <service behaviorConfiguration="serviceBeh" name="ToolingWCF.MoldPartInfoService">
            <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConf"
                name="moldpartinfoservice" contract="ToolingWCF.IMoldPartInfoService" />
            <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            <host>
                <baseAddresses>
                    <add baseAddress="http://localhost:9090/ToolingWCF/MoldPartInfoService/" />
                </baseAddresses>
            </host>
        </service>
        <service behaviorConfiguration="serviceBeh" name="ToolingWCF.ConditionService">
            <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConf"
                name="conditionservice" contract="ToolingWCF.IConditionService" />
            <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            <host>
                <baseAddresses>
                    <add baseAddress="http://localhost:9090/ToolingWCF/ConditionService/" />
                </baseAddresses>
            </host>
        </service>
        <service behaviorConfiguration="serviceBeh" name="ToolingWCF.StorageManageService">
            <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConf"
                name="storagemanageservice" contract="ToolingWCF.IStorageManageService" />
            <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            <host>
                <baseAddresses>
                    <add baseAddress="http://localhost:9090/ToolingWCF/StorageManageService/" />
                </baseAddresses>
            </host>
        </service>
        <service behaviorConfiguration="serviceBeh" name="ToolingWCF.SmartDeviceApi">
            <clear />
            <endpoint address="basic" binding="basicHttpBinding" contract="ToolingWCF.ISmartDeviceApi"
                listenUriMode="Explicit" />
            <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
                contract="IMetadataExchange" />
            <host>
                <baseAddresses>
                    <add baseAddress="http://localhost:9090/ToolingWCF/SmartDeviceApi/" />
                </baseAddresses>
            </host>
        </service>
    </services>

  <behaviors>
    <serviceBehaviors>
      <behavior name="serviceBeh">
        <serviceMetadata httpGetEnabled="true" />
        <serviceDebug includeExceptionDetailInFaults="true" />
        <dataContractSerializer maxItemsInObjectGraph="102400000" />
      </behavior>
    </serviceBehaviors>
  </behaviors>
  <bindings>
    <basicHttpBinding>
      <binding name="basicHttpBindingConf" openTimeout="00:20:00" maxBufferSize="50000000"
        maxReceivedMessageSize="50000000" messageEncoding="Mtom" transferMode="Streamed">
        <readerQuotas maxDepth="50000000" maxStringContentLength="50000000"
          maxArrayLength="50000000" maxBytesPerRead="50000000" maxNameTableCharCount="50000000" />
      </binding>
    </basicHttpBinding>
  </bindings>
</system.serviceModel>
  </configuration>