<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ToolingManDBConnectionString"
            connectionString="Data Source=Charlot-PC\SQL2008EXPRESS;Initial Catalog=ToolingManDB;Persist Security Info=True;User ID=sa;Password=123456@"
            providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>